*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    text-decoration: underline;
    font-family: monospace;

}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 20rem;
    height: 25rem;
    
}
.list{
    display: grid;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.812);
   
    
}
.box{
    outline: solid rgb(0, 0, 0);
}
button{
    border-radius: 2rem;
    background-color: rgba(238, 9, 9, 0.812);
    font-family: cursive;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.851);
    transition: 0.5s;
}

    
body{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.postimg.cc/pVSnLpNR/71d96455dda83f23194d56eec81131ae.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}